.App {
  text-align: center;
  height: 100vh;
  /* place-content: center; */
  /* position: relative; */
}

.theme {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: none; */
  /* padding: 0.075rem 0.25rem; */
  border-radius: 25px 25px 25px 25px;
  gap: 0.5rem;
  border: 3px solid currentColor;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.light {
  padding: 0.5rem;
  background: rgba(255, 255, 0, 0.5);
  border-radius: 50%;
}

.dark {
  padding: 0.25rem;
  /* background: blue; */
  border-radius: 50%;
}

/* .slider {
  position: absolute;
  top: 30px;
  right: 50px;
}

.slider span {
  width: 20px;
  height: 40px;
  background: red;
  border-radius: 50%;
} */

.container {
  position: relative;
  place-content: center;
}

h1 {
  margin-top: 5rem;
}

.counter {
  margin: 4rem auto;
}

span {
  padding: 0.5rem;
}
